@model IEnumerable<OdeToFood.Data.Model.Restuarant>  

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Hello World!</p>
    <div>
        There are @Model.Count() restaurants in the database. 
     </div>
</div>

<ul>
    @foreach(var restuarant in Model)
            {
                <li>
                    @restuarant.Name
                </li>
            }
</ul>
